h1, td, p {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}

table, td {
    border: 1px solid black;
}

td {
    height: 30px;
    width: 30px;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.verde-claro {
    background-color: greenyellow;
}

.verde-oscuro {
    background-color: green;
}
.agua-clara {
    background-color: aquamarine;
}
.agua-oscura {
    background-color: aqua;
}